@import "tailwindcss";

:root {
  --black: #000000;
  --background: #f9f7fd;
  --foreground: #0d0817;
  --primary: #6530d2;
  --dark: #5a2abf;
  --secondary: #a987ec;
  --accent: #8957ed;
  --extra-light: #EDEAF1;
  --light: #DBD0F4;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-extra-light: var(--extra-light);
  --color-light: var(--light);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scrollable-container::-webkit-scrollbar {
  width: 7px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #24294D;
  border-radius: 10px;
  border: 2px solid lightgray;
}